@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Dark theme as default */
html, .dark {
  --bg-dark: oklch(0.1 0.035 280);
  --bg: oklch(0.15 0.035 280);
  --bg-light: oklch(0.2 0.035 280);
  --text: oklch(0.96 0.07 280);
  --text-muted: oklch(0.76 0.07 280);
  --highlight: oklch(0.5 0.07 280);
  --border: oklch(0.4 0.07 280);
  --border-muted: oklch(0.3 0.07 280);
  --primary: oklch(0.76 0.1 280);
  --secondary: oklch(0.76 0.1 100);
  --danger: oklch(0.7 0.07 30);
  --warning: oklch(0.7 0.07 100);
  --success: oklch(0.7 0.07 160);
  --info: oklch(0.7 0.07 260);
}

.light {
  --bg-dark: oklch(0.92 0.035 280);
  --bg: oklch(0.96 0.035 280);
  --bg-light: oklch(1 0.035 280);
  --text: oklch(0.15 0.07 280);
  --text-muted: oklch(0.4 0.07 280);
  --highlight: oklch(1 0.07 280);
  --border: oklch(0.6 0.07 280);
  --border-muted: oklch(0.7 0.07 280);
  --primary: oklch(0.4 0.1 280);
  --secondary: oklch(0.4 0.1 100);
  --danger: oklch(0.5 0.07 30);
  --warning: oklch(0.5 0.07 100);
  --success: oklch(0.5 0.07 160);
  --info: oklch(0.5 0.07 260);
}

@layer base {
  html {
    color-scheme: light dark;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    background: var(--bg-dark);
    color: var(--text);
  }

  #root {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}